* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.booking-container{
  display: flex;
  background-image: url('../../../public/images/hotel3.jpg');
  
}
.mybooking{
  opacity: 0.9;
  background-color: rgb(255, 255, 255);
  
  
}
.paybutton{
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 0;
  color: white;
  font-weight: bold;
  font-size: 25px;
  width: 50%;
  margin-right: 20px;
  margin-top: 20px;
  background-color: rgb(231, 25, 14);
  border: 2px solid rgb(97, 227, 194);

}



.booking_form {
  width: 750px;
  border-radius: 8px;
  opacity: 0.8;
  background-color: rgb(252, 252, 252);
  padding: 25px;
  border: 2px solid white;
  margin: 50px auto;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.form_box {
  display: flex;
}
.left_box {
  flex: 1;
  padding: 0 20px 0 0;
}
.right_box {
  flex: 1;
}
.booking_header {
  font-size: 30px;
  width: 90%;
  padding-bottom: 25px;
  margin-bottom: 12px;
  border-bottom: 3px solid black;
}
.booking-label {
  font-size: 18px;
  font-weight: bold;
}
.booking-input {
  padding: 3px 10px;
  width: 90%;
  margin: 5px 0;
  border-radius: 3px;
  font-size: 15px;
  border: 1px solid gray;
}
.bookbtn {
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 80%;
  background-color: rgb(65, 219, 183);
  border: 2px solid rgb(65, 219, 183);
}
.imgbox {
  height: 180px;
  width: 250px;
  margin: 20px auto;
  border-radius: 5px;
  background-color: gray;
}
.nameimg {
  display: flex;
  height: 200px;
  font-weight: bold;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.bock_topic {
  text-align: center;
  margin: 0 0 15px 0;
  
}
.sum_detail {
  text-transform: capitalize;
  margin-bottom: 5px;
  font-size: 20px;
}
.box_sum {
  background-color: rgb(108, 246, 206);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 25px;
  width: 450px;
}
.sumry_box {
  display: flex;
  margin: 0 auto;
  height: 100vh;
  align-items: center;
  justify-content: center;
  
}
.btn_dash_admin {
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 50%;
  margin: center;
  margin-top: 20px;
  background-color: rgb(39, 14, 231);
  border: 2px solid rgb(97, 227, 194);
}
.btn_print {
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  background-color: gray;
  border: 2px solid gray;
}
.btnset {
  display: flex;
  justify-content: space-between;
}
.serch_inpt {
  padding: 5px 10px;
  width: 90%;
  margin: 5px 0;
  border-radius: 3px;
  font-size: 15px;
  border: 1px solid gray;
}
.lftbtn {
  margin-left: 45px;
}
