* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.rate_f_box {
  margin-top: 50px;
}

.bk_img_rate::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.img_rate_topic {
  position: relative;
  text-align: center;
  color: white;
  top: 35%;
  z-index: 2000000000;
  font-size: 100px;
}

.main_container_reiew {
  padding: 50px 12%;
}
.rate-full-box {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #03c9876e;
  border-radius: 10px;
 
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  background-image: url(./img/boximage.jpg);
}

.rate-full-box-form {
  display: flex;
  flex-direction: column;
}

.rate-full-box-label {
  font-size: 25px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.rate-full-box-input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rate-text {
  min-height: 100px;
  resize: none;
}
.rate-topic {
  font-size: 34px;
  margin-bottom: 25px;
  text-align: center;
  text-transform: capitalize;
  color: bisque;
}
.rate_text_area {
  resize: none;
  height: 180px;
}
.rate-us {
  color: #03c9876e;
}
.rate-add-btn {
  background-color: #03c9876e;
  border: 2px solid #03c9876e;
  font-family: roboto;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin-left: 12px;
  font-size: 20px;
  border-radius: 4px;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
  cursor: pointer;
  padding: 4px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rate-add-btn:hover {
  background-color: white;
  color: #03c9876e;
}

.button_ad_review {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  background-color: #03c9876e;
  color: #fff;
  border: 2px solid #03c9876e;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px
}
.button_ad_review:hover {
  background-color: white;
  color: #03c9876e;
  border: 2px solid #03c9876e;
  border-radius: 10px;
}
.main_btn_topic {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.add_form_input {
  width: 100%;
  margin: 8px 0;
  font-size: 18px;
  color: black;
  border: 2px solid #03c9876e;
  border-radius: 10px;
  padding: 4px 2px;
}
.add_form_label {
  font-weight: 600;
  font-size: 18px;
  color: #DACBA5;
}
.rate {
  float: right;
  margin-right: auto;
  height: 56px;
}
.rate:not(:checked) > .starinput {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > .starlabl {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 40px;
  color: #ccc;
}
.rate:not(:checked) > .starlabl:before {
  content: "★ ";
}
.rate > .starinput:checked ~ .starlabl {
  color: #ffc700;
}
.rate:not(:checked) > .starlabl:hover,
.rate:not(:checked) > .starlabl:hover ~ .starlabl {
  color: #ecbf1d;
}
.rate > .starinput:checked + .starlabl:hover,
.rate > .starinput:checked + .starlabl:hover ~ .starlabl,
.rate > .starinput:checked ~ .starlabl:hover,
.rate > .starinput:checked ~ .starlabl:hover ~ .starlabl,
.rate > .starlabl:hover ~ .starinput:checked ~ .starlabl {
  color: #c59b08;
}

/*displyapart*/
.rate_display {
  float: left;
  margin-right: auto;
  height: 56px;
}
.rate_display:not(:checked) > .starinput_display {
  position: absolute;
  top: -9999px;
}
.rate_display:not(:checked) > .starlabl_display {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 40px;
  color: #ccc;
}
.rate_display:not(:checked) > .starlabl_display:before {
  content: "★ ";
}
.rate_display > .starinput_display:checked ~ .starlabl_display {
  color: #ffc700;
}

.discard_rate {
  cursor: pointer;
  margin: 55px 0;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 5px;
}
.topidetil {
  font-size: 25px;
  font-weight: bold;
}
.para_rate {
  font-size: 20px;
  margin: 5px 10px;
  font-weight: 500;
}

.box_row_con_rate {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  border: 0;
}
.rate-box_card {
  --tw-bg-opacity: 1;
  padding: 20px 12px;
  background-color: rgba(167, 196, 210, var(--tw-bg-opacity));
  width: 400px;
  border: 2px solid #03c9876e;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: auto;
  border-radius: 8px;
}

.full_box_set_rate_disply {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  border: 0;
  gap: 25px;
}

.details_box_displya {
  width: 450px;
  text-transform: capitalize;
  margin-top: 25px;
  border: 1px solid #03c9876e;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-image: url("./img/answer_boximage.PNG");
}
.srrch {
  width: 100%;
}
.serch_inpt {
  width: 100%;
  border: 2px solid #03c9876e;
  font-size: 16px;
  padding: 4px 10px;
  border-radius: 3px;
}
.sen_serch {
  width: 350px;
  gap: 10px;
  display: flex;
  align-items: center;
  margin: 20px auto 0 auto;
}
.search_btn {
  background-color: #03c9876e;
  border: 2px solid #03c9876e;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 4px 10px;
}
.search_btn:hover {
  background-color: white;
  border: 2px solid #03c9876e;
  color: #03c9876e;
}
