.card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f3f4f6;
  background-image: url("./img/bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.main_topic {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
}
.card_box {
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}
.card_form {
  background-color: rgba(255, 255, 255, 0.7);
  width: 500px;
  font-family: "Roboto", sans-serif;
  border: 2px solid #26b59b;
  border-radius: 5px;
  padding: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-bottom: 20px;
}
.card_lable {
  font-weight: bold;
  font-size: 18px;
}
.card_form_box {
  /*white box*/
  display: flex;
}
.add_card_input {
  width: 100%;
  border: 1.8px solid #26b59b;
  font-size: 18px;
  border-radius: 2px;
  margin: 10px 0;
  padding: 5px 5px;
}
.card_form_topic {
  font-size: 20px;
  font-weight: bold;
  margin: 0px 0 20px 0;
  color: #006342dd;
}
.card_save_btn {
  background-color: #019365c7;
  border: 2px solid #26b59b;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 4px 10px;
}
.card_save_btn:hover {
  letter-spacing: 2px;
  opacity: 0.8;
}
.card_preview {
  margin-top: 20px;
  width: 450px;
  height: 230px; /* Adjust height to match card size*/
  /* position: relative; */
  z-index: 1;
}

.card {
  perspective: 1000px;
  width: 100%;
  height: 100%;
}

.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.card:hover .card__inner {
  transform: rotateY(180deg);
}

.card__front,
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card__front {
  background-color: #f3f4f6;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  border-radius: 10px; /* Add border-radius for rounded corners */
  padding: 20px; /* Add padding for inner content */
}

.card__back {
  background-color: #0b65ff;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__text {
  font-size: 18px;
  margin-bottom: 15px;
}
.card__logo img {
  width: 100px; /* Adjust width as needed */
  /* height: auto; */
}
.card__chip img {
  width: 50px; /* Adjust chip width */
  /* height: auto;  */
  position: absolute;
  bottom: 20px; /* Adjust vertical position */
  right: 20px; /* Adjust horizontal position */
}
