.card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f3f4f6;
  background-image: url("./img/bg2.png");
  background-size: cover; /* Zoom out the image to fit within the container */
  background-repeat: no-repeat; /* Ensure the image doesn't repeat */
  background-position: center; /* Center the background image */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.main_topic {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
}
.card_box {
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}
.card_form {
  background-color: rgba(255, 255, 255, 0.7);
  width: 500px;
  font-family: "Roboto", sans-serif;
  border: 2px solid #26b59b;
  border-radius: 5px;
  padding: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-bottom: 20px;
}
.card_lable {
  font-weight: bold;
  font-size: 18px;
}
.card_form_box {
  /*white box*/
  display: flex;
}
.add_card_input {
  width: 100%;
  border: 1.8px solid #26b59b;
  font-size: 18px;
  border-radius: 2px;
  margin: 10px 0;
  padding: 5px 5px;
}
.card_form_topic {
  font-size: 20px;
  font-weight: bold;
  margin: 0px 0 20px 0;
  color: #006342dd;
}
.card_save_btn {
  width: 100%;
  background: linear-gradient(45deg, #26b59b, rgb(4, 146, 84));
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s linear;
  box-shadow: #26b59b;
}
.card_save_btn:hover {
  letter-spacing: 2px;
  opacity: 0.8;
}
