/* Roomtable.css */

/* Table styles */
.roomTable {
    margin-top: 95px; /* Adjust top margin as needed */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    margin-left: 275px;
   
    
    
    
  }
  
table {
    width: 91%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
   
   
}

th, td {
    border: 2px solid #031852;
    padding: 8px;
    text-align: left;
    font-size: 14px;
   

}

th {
    background-color: #015258;
    font-size: 15px;
    font-weight: bold;
    color: #d2e3f0;
    
    
   
}

/* Filter and search container styles */
.filter-container {
    margin-bottom: 10px;
}

.search-container {
    margin-bottom: 20px;
}

.search-container input {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Action buttons styles */
.actionButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.actionButtons button, 
.actionButtons a {
    margin-right: 5px;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.actionButtons button {
    background-color: #88010e;
    color: #fff;
    border: none;
    
}

.actionButtons a {
    background-color: #295889;
    color: #fff;
    text-decoration: none;
    width: 80px;
    height: 45px;
 
   
}

.actionButtons button:hover, 
.actionButtons a:hover {
    opacity: 0.8;
}

/* Add Room button style */
.generate-room-button {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007854;
    color: #fff;
    text-decoration: none;
    margin-left: 900px;
    font-weight: bold;
}

.generate-room-button {
    opacity: 0.8;
}


  .search-input:focus {
    outline: none; /* Remove outline on focus */
    border-color: #0c2d51; /* Change border color on focus */
  }
  





  /*Room Search CSS*/
.RoomSearchcontainer {


    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  
  .RoomSearchcontainer input {
    border-radius: 10rem 0 0 10rem;
    height: 4rem;
    width: 30rem;
    background-color: azure;
    padding: 1.2rem;
    font-size: 2rem;
    font-weight: 500;
    outline: none;
    border-color: #020353;
  }
  
  .RoomSearchcontainer button {
    color: grey;
    height: 4rem;
    width: 8rem;
    font-size: 2rem;
    border-radius: 0 10rem 10rem 0;
    border: none;
    background-color: hsl(231, 100%, 15%);
    color: white;
    opacity: 0.8;
    outline: none;
  }
  
