/* Roomtable.css */

/* Table styles */
.roomTable {
    margin-top: 95px; /* Adjust top margin as needed */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    margin-left: 275px;
    
  }
  
table {
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Filter and search container styles */
.filter-container {
    margin-bottom: 10px;
}

.search-container {
    margin-bottom: 20px;
}

.search-container input {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Action buttons styles */
.actionButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionButtons button, 
.actionButtons a {
    margin-right: 5px;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.actionButtons button {
    background-color: #88010e;
    color: #fff;
    border: none;
    width: fit-content;
}

.actionButtons a {
    background-color: #0e2d4e;
    color: #fff;
    text-decoration: none;
    width: fit-content;
 
   
}

.actionButtons button:hover, 
.actionButtons a:hover {
    opacity: 0.8;
}

/* Add Room button style */
.add-room-button {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
}

.add-room-button:hover {
    opacity: 0.8;
}

