* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.usernavbar {
  background-color: #65a4da;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 8%;
}
.cart_icon {
  font-size: 45px;
  cursor: pointer;
}
.card_container_cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 0;
  border: 0;
  gap: 25px;
}
.card_ittem_card {
  width: 350px;
  border: 2px solid #65a4da;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.item_name {
  text-align: center;
  font-size: 30px;
  margin: 0px 0 10px 0;
  text-transform: capitalize;
}
.img_item_cart {
  width: 100%;
  height: 300px;
}

.item_con {
  padding: 0 25px 10px 25px;
}
.detail_p {
  font-size: 20px;
}
.viewbtn {
  background-color: #65a4da;
  color: white;
  border: 2px solid #65a4da;
  font-size: 20px;
  cursor: pointer;
  border-radius: 3px;
  padding: 3px 10px;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  text-decoration: none;
  justify-content: center;
  margin: 0 auto 10px auto;
  text-transform: capitalize;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.btnLink {
  text-decoration: none;
}
.tem_open {
  justify-content: center;
  display: flex;
}
.item_card_details {
  width: 500px;
  border: 2px solid #65a4da;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.itemname {
  text-align: center;
  font-size: 60px;
  margin: 20px 0;
  text-transform: capitalize;
}
.itm_img_view {
  width: 100%;
  height: 400px;
}
.itemdetal_view {
  font-size: 25px;
  padding-left: 10px;
}
.cart-header {
  text-align: center;
  margin: 20px 0;
  text-transform: capitalize;
  font-size: 35px;
}
.cart-form {
  width: 500px;
  border: 2px solid #65a4da;
  margin: 10px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.cart-label {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}
.cart-input {
  width: 95%;
  font-size: 18px;
  margin: 5px 0;
  padding: 3px 10px;
}
.cart-input-select {
  width: 100%;
  font-size: 18px;
  margin: 5px 0;
  padding: 3px 10px;
}
.subname {
  color: #65a4da;
}
.cart_detail_box {
  display: flex;
  border: 2px solid #65a4da;
  margin: 10px auto;
  gap: 25px;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px 0 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 10px 0;
}
.card_ful_cart {
  padding: 0 30%;
}
.cart_item_image_cart {
  width: 200px;
  padding: 0;
  margin: 0;
  height: 200px;
}
.itmname {
  font-size: 25px;
  margin-top: 50px;
  text-transform: capitalize;
}
.itmprice {
  font-size: 20px;
}
.tot {
  color: red;
  font-weight: bold;
}

.updtbtn {
  background-color: #65a4da;
  border: 2px solid #65a4da;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.updtbtn:hover {
  background-color: #ffffff;
  border: 2px solid #65a4da;
  color: #65a4da;
}
.filterbtn {
  background-color: #65a4da;
  border: 2px solid #65a4da;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.filterbtn:hover {
  background-color: #ffffff;
  border: 2px solid #65a4da;
  color: #65a4da;
}
.dltbtn {
  background-color: #f10a0a;
  border: 2px solid #f10a0a;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;

  border-radius: 4px;
  cursor: pointer;
  padding: 4px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dltbtn:hover {
  background-color: #ffffff;
  border: 2px solid #f10a0a;
  color: #f10a0a;
}

.carts-header {
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}

.add-new-button {
  background-color: #65a4da;
  border: 2px solid #65a4da;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  padding: 4px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.tot_topic {
  text-align: center;
  font-size: 30px;
}
.serch {
  font-size: 18px;
  margin: 5px 0;
  margin-right: 10px;
  padding: 3px 10px;
  width: 350px;
}

.pdn_itmdetil {
  padding: 20px 12%;
}
