/* Events Page */
.events-page {
  margin-top: 20px;
}

.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.public-events {
  margin-bottom: 150px; /* Increased margin to provide more space */
  margin-left: 50px;
}

.personal-events {
  margin-left: 50px;
  margin-bottom: 90px;
}

.to1 {
  text-decoration: underline;
}

.event-card {
  background-color: #f6faef;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.event-card h3 {
  margin: 0;
}

.event-card p {
  margin: 5px 0;
}

.event-image {
  height: 45%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-size: cover;
}

/* Status Box */
.status-box {
  padding: 5px;
  border-radius: 5px;
  color: white;
  display: inline-block;
  margin-top: 5px;
}

/* Example color classes */
.red { background-color: red; }
.orange { background-color: orange; }
.green { background-color: green; }

/* Book Event Button */
.book-event-button {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: #03c9876e;
  color: rgb(0, 0, 0);
  padding: 30px 60px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 100px;
  margin-bottom: -50px;
}

.book-event-button:hover {
  background-color: #25b12e6e;
  text-decoration: underline;
}
