@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Events Page */
.events-page {
  margin-top: 20px;
}

.events-container {
  display: flex;
  flex-wrap: wrap;
  width: 1500px;
  margin-top: 10px;
  border: 1px dolid black;
  text-align: center;
  margin-left: 80px;
}

.public-events {
  margin-bottom: 150px; /* Increased margin to provide more space */
  margin-left: 50px;
}

.personal-events {
  margin-left: 50px;
  margin-bottom: 90px;
}

.to1 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 26px;
  height: 60px;
  padding-top: 15px;
  background-color: rgb(195, 195, 195);
  border-radius: 8px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 40px;
  width: 260px;
  text-align: center;
}

.line {
  border-bottom: 3px solid black;
  margin-bottom: 30px;
  margin: auto 50px;
  width: 1435px;
}

.event-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  margin-right: 60px;
  width: 210px;
  height: 380px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border: 2px solid rgb(255, 255, 255);
  margin-top: 30px;
}

.event-card:hover{
  transform: scale(1.03);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

}
.event-card h3 {
  margin: 0;
}

.event-card p {
  margin: 5px 0;
}

.event-image {
  height: 45%;
  width: 100%;
  border-radius: 6px;
  background-size: cover;
}

/* Status Box */
.status-box {
  padding: 5px;
  border-radius: 5px;
  color: white;
  display: inline-block;
  margin-top: 5px;
}

/* Example color classes */
.red { background-color: red; }
.orange { background-color: orange; }
.green { background-color: rgb(6, 156, 6); }

/* Book Event Button */
.book-event-button {
  margin-right: 110px;
  background-color: #03c9876e;
  color: rgb(0, 0, 0);
  padding: 20px ;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  width: 150px;
  height: 60px;
  text-align: center;
  font-weight: bold;
}

.book-event-button:hover {
  background-color: #25b12e6e;
  /* background-color: #03c9876e; */
}

.personalevent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.EventUpdatebtn{
  margin-top: 10px;
  background-color: #292f89;
    color: #fff;
    text-decoration: none;
    width: 100px;
    height: 45px;
    border-radius: 20px;
}

.EventDeleteBtn{
  margin-top: 10px;
  background-color: #aa1120;
    color: #fff;
    border: none;
    width: 100px;
    height: 45px;
    margin-left: 140px;
    border-radius: 20px;
}

.event-card h3,
.event-card p {
  font-weight: bold;
}

/* Make text bold in event cards */
.event-card h3,
.event-card p,
.event-card h4 {
  font-weight: bold;
}

/* Make text bold in modal content */
.modal-content h4,
.modal-content p {
  font-weight: bold;
}
