body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: #313131cc;
}
.modal-content {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 7px;
    max-width: 400px;
    min-width: 300px;
    height: 600px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14pt;
    padding: 3px 5px;
    background-color: rgb(194, 17, 17);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    border: none;

}

.event-image1 {
    width: 90%;
    height: 60%;
    margin-left: 20px;
    border-radius: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header {
    font-size: 7pt;
    font-style: bold;
}
