/* For WebKit browsers (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #03c9876e; /* Color of the scrollbar handle */
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #03c9876e; /* Color of the scrollbar handle on hover */
}

.rate_home_container {
  padding: 50px 9.5%;
}
.first_box_set_rate_home {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 30px;
  
}

.rate_home_left_box {
  flex:1;
  width: 50%;
  
}

.rate_home_right_box {
  flex: 1;
  width: 50%;
}

.main_topi_qa_new {
  margin-top: 25px;
  text-transform: capitalize;
}

.q_box_img_rate {
  border: 10px solid #03c9876e;
  border-radius: 30px;
  width: 100%;
}
.main_topi_qa {
  margin: 0 0 15px 0;
  text-transform: capitalize;
}
.answerbox {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  margin: 0 0 20px 0;
  border: 1px solid #03c9876e;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-image: url('./img/answer_boximage.PNG');
  opacity: 0.8;
}
.answer_topic {
  font-size: 20px;
  margin: 0 0 8px 0;
}

.revi_row_rate {
  display: flex;
  align-items: center;
  width: 700px;
  margin-top: 25px;
}

.colum_one_revi,
.colum_two_revi,
.colum_thre_revi {
  flex: 1;
  font-size: 20px;
}

.colum_two_revi {
  border: 1px solid #03c9876e;
  height: 11px;
  border-radius: 5px;
  margin: 0 55px 0 0;
}
.colum_two_revi_sub_one {
  width: 80%;
  border-radius: 4px;
  height: 10px;
  background-color: #03c9876e;
}
.colum_two_revi_sub_two {
  width: 70%;
  border-radius: 4px;
  height: 10px;
  background-color: #03c9876e;
}
.colum_two_revi_sub_thre {
  width: 90%;
  border-radius: 4px;
  height: 10px;
  background-color: #03c9876e;
}
.profile_icon {
  width: 50px;
}
.details_box {
  width: 550px;
  text-transform: capitalize;
  margin-top: 25px;
  border: 1px solid #03c9876e;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-image: url('./img/answer_boximage.PNG');
  opacity: 0.8;

}
.user_comment {
  margin-top: 10px;
  font-weight: 500;
}
.show_all_btn {
  background-color: #03c9876e;
  border: 2px solid #03c9876e;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  margin: 25px auto;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 8px 10px;
}
.show_all_btn:hover {
  background-color: white;
  border: 2px solid #03c9876e;
  color: #03c9876e;
}
.btn_container_rate {
  display: flex;
  justify-content: space-between;
  margin: 25px 25px 0 25px;
}
.updtbtn {
  background-color: #03c9876e;
  border: 2px solid #03c9876e;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 4px 10px;
}
.dltbtn {
  background-color: #03c9876e;
  border: 2px solid #03c9876e;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 4px 10px;
}
.rate-us {
  color: #03c9876e;
  
}

.rate_star_box{
  font-size: 35px;
  color: gainsboro;
}
.rate_star_hard_code{
  color: rgb(255, 213, 0);
}

