.aboutus-body{
    background-color: #EEE7DA;
}

.about-us-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px;
    background-color: #EEE7DA;
    font-family: 'Montserrat', sans-serif;
  }
  
  .about-us-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .about-us-title {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .about-us-subtitle {
    font-size: 24px;
    color: #666;
  }
  
  .about-us-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #333;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .about-us-stats {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .about-us-stat {
    text-align: center;
    margin: 0 20px;
    background-color: #E1F0DA;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .about-us-stat:hover {
    transform: translateY(-5px);
  }
  
  .about-us-stat-icon {
    font-size: 32px;
    color: #ff9900;
    margin-bottom: 10px;
  }
  
  .about-us-stat-number {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .about-us-stat-label {
    color: #666;
    font-weight: bold;
  }
  
  .about-us-image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  .about-us-image-container {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .about-us-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease-in-out;
  }
  
  .about-us-image-container:hover .about-us-image {
    transform: scale(1.1);
  }
  
  @media (max-width: 768px) {
    .about-us-image-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .about-us-content {
      flex-direction: column;
      align-items: center;
    }
  
    .about-us-stats {
      flex-direction: column;
      align-items: center;
    }
  
    .about-us-stat {
      margin: 10px 0;
    }
  }