/* foodDetails.css */

/* Container */
.tem_open {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
  }
  
  /* Item Details */
  .item_name {
    text-align: center;
    font-size: 20px;
    color: #1b4850;
    margin-bottom: 20px;
  }
  
  .item_card_details {
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
  
  .itme_img_view {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 20px;
  }
  
  .item_detal_view {
    margin-bottom: 10px;
    color: #666;
    text-align: center;
    font-size: large;
  }
  
  .containerf {
    display: flex;
    justify-content: center;
  }
  
  .view_btn {
    background-color: #03c9876e;
    color: white;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .viewbtn:hover {
    background-color: #004f356e;
  }
  
  /* Responsive */
  @media screen and (max-width: 768px) {
    .item_card_details {
      flex-direction: column;
      align-items: center;
    }
  
    .itm_img_view {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  