/* foodDetails.css */

/* Container */
.tem_open {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
  }
  
  /* Item Details */
  .ite_name {
    text-align: center;
    font-size: 34px;
    color: teal;
    font-weight: bold;
    margin-bottom: 4px;

  }
  
  .item_card_details {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bolder;
  }
  
  .itme_img_view {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .item_detal_view {
    margin-bottom: 10px;
    color: #000000;
    text-align: center;
    font-size: large;
  }
  
  .containerf {
    display: flex;
    justify-content: center;
  }
  
  .view_btn {
    background-color: teal;
    color: white;
    border: none;
    padding: 10px 30px;
    cursor: pointer;

    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .view_btn:hover {
    background-color: #ffffff;
    color: teal;
    border-color: teal;
  }
  
  /* Responsive */
  @media screen and (max-width: 768px) {
    .item_card_details {
      flex-direction: column;
      align-items: center;
    }
  
    .itm_img_view {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  