/* addfood.css */

.cart-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-header {
  text-align: center;
  color: #1b4850;
  font-weight: bolder;
}

.cart-form {
  margin-top: 20px;
}

.cart-label {
  display: block;
  margin-bottom: 5px;
  color: #1b4850;
}

.cart-input,
.cart-input-select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.cart-input-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml;utf8,<svg fill='#1b4850' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='24px' height='24px'><path d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/></svg>") no-repeat right 10px center/15px 15px;
}

.food-error-message {
  color: #d9534f;
  font-size: 14px;
  margin-top: -10px;
}

.viewbtn {
  background-color: #1b4850;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.viewbtn:hover {
  background-color: #0f3038;
}
