
.rateee_full_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }
.rate_full_box_form{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
    margin: 0 0 20px 0;
    border: 1px solid #A14545;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    width: 450px;
}
.rate_full_box_label{
   font-weight: bold;
   font-size: 20px;
}
.rate_full_box_input{
    width: 100%;
    border: 2px solid #A14545;
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 3px;
    margin: 10px 0;
}
.sen_btn{
    text-align: center;
    margin: 0 auto;
    display: flex;
}