
.rateee_full_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    background-image: url(./img/backimg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  }
.rate_full_box_form{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
    margin: 0 0 20px 0;
    border: 1px solid #03c9876e;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    width: 450px;
}
.rate_full_box_label{
   font-weight: bold;
   font-size: 20px;
}
.rate_full_box_input{
    width: 100%;
    border: 2px solid #03c9876e;
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 3px;
    margin: 10px 0;
}
.sen_btn{
    text-align: center;
    margin: 0 auto;
    display: flex;
}