.extra{
    background-color: aliceblue;
    padding: 0cap;
}

.extra-container {
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    margin-top: 10px;
    border: 1px dolid black;
    text-align: center;
    margin-left: 80px;
  }

  .public-extra {
    margin-bottom: 150px; /* Increased margin to provide more space */
    margin-left: 50px;
  }
  
  .personal-extra {
    margin-left: 50px;
    margin-bottom: 90px;
  }

  .frontfont {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 26px;
    height: 60px;
    padding-top: 15px;
    background-color: rgb(195, 195, 195);
    border-radius: 8px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 40px;
    width: 260px;
    text-align: center;
  }

  .extra-card {
    background-color: #e6dea8;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    margin-right: 70px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    border: 2px solid rgb(155, 134, 0);
    margin-top: 30px;
  }
  
  




  
