.color{
    background-color: aqua;
    padding: 0ch;
}

.backgroundcolor{
    background-color: aquamarine;
    font-size: 10;
    font-family: 'Courier New', Courier, monospace;
}

.imagebackground{

    size: 10;
    width: fit-content;
}

.extra-image {
    height: 45%;
    width: 100%;
    border-radius: 6px;
    background-size: cover;
  }