.summery_full {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  font-family: "Roboto", sans-serif;
}
.summery_full_box {
  width: 400px;
  border: 2px solid #26b59b;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.main_book_topic {
  color: #206a5d;
}
.sumary_title {
  font-size: 23px;
}
.remov_mrgn {
  margin-top: 0;
}
.pdf_btn {
  background-color: #7ae7d3;
  border: 2px solid #26b59b;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  border-radius: 3px;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 4px 10px;
}
.sum_save_btn {
  background: linear-gradient(45deg, #26b59b, rgb(4, 146, 84));
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s linear;
  border: 2px solid #26b59b;
  font-weight: bold;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 4px 10px;
  margin-bottom: 25px;
}
.sum_save_btn:hover {
  letter-spacing: 2px;
  opacity: 0.8;
}
