/* Hide scrollbar track */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
}
.btn_print {
  margin-left: 17%;
  background-color: rgb(65, 219, 183);
  border: 2px solid rgb(65, 219, 183);
}

::-webkit-scrollbar-thumb:hover {
  background: gray; /* Color of the scrollbar handle on hover */
}
.imgbox {
  background-image: url("../../../../public/images/hotelimage1.jpg");
}

.table_details_admin {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  margin-bottom: 20%;
}

.table_details_admin .admin_tbl_th,
.table_details_admin .admin_tbl_td {
  border: 2px solid gray;
  padding: 8px;
}

.table_details_admin .admin_tbl_th {
  background-color: gray;
  color: white;
  font-size: 18px;
}
.boktopic {
  margin: 25px 0;
  text-align: center;
}
.tbl_main {
  padding: 18%;
}
.lftbtn {
  margin-right: 20%;
}

.dltbtn {
  font-size: 15px;
  padding: 3px 8px;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  border: 2px solid red;
  background-color: red;
  margin-left: 15px;
}
.updt {
  font-size: 15px;
  text-decoration: none;
  padding: 3px 8px;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  border: 2px solid gray;
  background-color: gray;
  margin-left: 15px;
}
