.container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  
  .container input {
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 4rem;
    width: 30rem;
    background-color: #f1f1f1;
    padding: 1.2rem;
    font-size: 2rem;
    font-weight: 500;
    outline: none;
  }
  
  .container button {
    color: grey;
    height: 4rem;
    width: 8rem;
    font-size: 2rem;
    border-radius: 0 10rem 10rem 0;
    border: none;
    background-color: #2b03c96e;
    color: white;
    opacity: 0.8;
    outline: none;
  }
  
  .container button:hover {
    opacity: 1;
    cursor: pointer;
  }